.cartWrapper {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
}

.heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.totalBox {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background: #f8f8f8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.totalBox h3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 15px;
}

.final {
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.empty {
  text-align: center;
  font-size: 22px;
  margin:100px auto;
}
