.orderContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
    box-shadow:1px 1px 3px 1px rgb(113, 111, 111);
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.orderContainer div {
  font-size: 14px;
  color: #333;
}

.orderContainer legend {
  font-weight: bold;
  margin-top: 10px;
}

.statusSelect {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.statusSelect:focus {
  border-color: #1890ff;
  box-shadow: 0 0 3px #1890ff;
}

.changeBtn {
  margin-top: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #1890ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
}

.changeBtn:hover {
  background-color: #106ed9;
}
.orderItems {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
}

.orderRow {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 4px;
}

.totalPrice {
  margin-top: 8px;
  font-weight: bold;
  color: #1890ff;
}
