.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #6c63ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 12px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
