.card {
  width: 220px;
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {

  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* IMAGE */
.imgBox {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.imgBox img {
  width: 100%;
  aspect-ratio: 0.9;
  
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff3f6c;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
}

/* NAME */
.name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #222;
  line-height: 1.3;
  height: 38px;
  overflow: hidden;
}

/* PRICE */
.priceBox {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.mrp {
  font-size: 13px;
  color: #888;
  text-decoration: line-through;
}
