.big {
  min-height: 100vh;
  background: linear-gradient(135deg, #9ab7f5, #e9d1ef);
  padding-bottom: 60px;
}

.heading {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  width:fit-content;
  border-bottom: 2px solid black;
  margin:40px auto ;
}

.container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.text
{
    max-width:350px;
    color:rgb(72, 72, 72)
}
.heading1 {
  text-align: center;
  margin: 40px auto;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  width:fit-content;
  border-bottom: 2px solid black;
}
.box
{
    display: grid;
    max-width:80vw;
    margin:40px auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.h1
{
    font-weight: 700;
    margin-bottom:20px;
}
.smallbox
{
    border:2px solid rgb(156, 156, 156);
    padding:40px;
}
@media (max-width:700px)
{
    .box
    {
        grid-template-columns: 1fr;
    }
}