.bigdiv
{
    display:flex;
    width:100%;
    overflow-x:auto;
   /* white-space: nowrap; */
    background:  linear-gradient(135deg,#ebe6fe,#9a92f7);;
}
.first
{
    display: flex;
    flex-direction:column;
    width:200px;
    border-right:2px solid gray;
    min-height: 100vh;
}
.list
{
    text-decoration: none;
    color:black;
    padding:20px;
    border-bottom: 2px solid rgb(131, 130, 130);
}
.list:hover{
    cursor: pointer;
    text-decoration: underline;
}
.active
{
    background-color: #9e9e9c;
}.second
{
    flex:1;
}

.form {
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
}

label {
  font-weight: 600;
  font-size: 14px;
}

input,
textarea,
select {
  padding: 8px 10px;
  border: 1px solid #080808;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: none;
}

.images {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
