.big {
  min-height: 100vh;
  background: linear-gradient(135deg, #9ab7f5, #e9d1ef);
  padding-bottom: 60px;
 
}

.heading {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  width:fit-content;
  border-bottom: 2px solid black;
  margin:40px auto ;
}

.container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
   margin-bottom: 150px;;
}

.imageBox img {
  width: 350px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.infoBox {
  background: white;
  padding: 30px 40px;
  border-radius: 14px;
  min-width: 350px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.infoBox h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.infoBox h4 {
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 16px;
}

.infoBox p {
  margin: 4px 0;
  color: #555;
  font-size: 14px;
}

.subscribe{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.hd1
{
    font-size: 40px;
}
.hd2
{
    font-size: 20px;
    margin:15px;
    color:#555;
}
.inp
{
    font-size:15px;
    width:300px;
    padding:5px;
    border-color: #cac7c7;
    outline: none;
    font-family:Arial, Helvetica, sans-serif
}
.btn
{
    font-size: 15px;
    padding:4px;
    background-color: black;
    color: white;
}
.btn:hover{
    cursor: pointer;
}
.form
{
    margin:40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}