.bigdiv
{
    display:flex;
    width:100%;
    overflow-x:auto;
   /* white-space: nowrap; */
    background:  linear-gradient(135deg,#ebe6fe,#9a92f7);;
}
.first
{
    display: flex;
    flex-direction:column;
    width:200px;
    border-right:2px solid gray;
    min-height: 100vh;
}
.list
{
    text-decoration: none;
    color:black;
    padding:20px;
    border-bottom: 2px solid rgb(131, 130, 130);
}
.list:hover{
    cursor: pointer;
    text-decoration: underline;
}
.active
{
    background-color: #9e9e9c;
}.second
{
    flex:1;
}